<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<can_driver>
		<type>datagram</type>
		<address>192.168.1.55</address>
		<port>2000</port>
	</can_driver>
	<canopen_address>0x23</canopen_address>
	<channels>
		<node>
			<name>N2_</name>
			<od_index>0x6211</od_index>
			<cobid>0x182</cobid>
			<num_samples>3</num_samples>
			<bits_sample>20</bits_sample>
		</node>			
		<node>
			<name>N3_</name>
			<od_index>0x6212</od_index>
			<cobid>0x183</cobid>
			<num_samples>3</num_samples>
			<bits_sample>20</bits_sample>
		</node>			
		<node>
			<name>N4_</name>
			<od_index>0x6213</od_index>
			<cobid>0x184</cobid>
			<num_samples>3</num_samples>
			<bits_sample>20</bits_sample>
		</node>			
		<node>
			<name>N5_</name>
			<od_index>0x6214</od_index>
			<cobid>0x185</cobid>
			<num_samples>3</num_samples>
			<bits_sample>20</bits_sample>
		</node>			
		<node>
			<name>N6_</name>
			<od_index>0x6215</od_index>
			<cobid>0x186</cobid>
			<num_samples>3</num_samples>
			<bits_sample>20</bits_sample>
		</node>			
		<node>
			<name>N7_</name>
			<od_index>0x6216</od_index>
			<cobid>0x187</cobid>
			<num_samples>3</num_samples>
			<bits_sample>20</bits_sample>
		</node>			
		<node>
			<name>N8_</name>
			<od_index>0x6217</od_index>
			<cobid>0x188</cobid>
			<num_samples>3</num_samples>
			<bits_sample>20</bits_sample>
		</node>			
	</channels>
</config>
